@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    background-image: url(background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container {
    width: 1000PX;
    height: auto;
    margin: 0 auto;
}

#header {
    width: 1000PX;
    height: 70px;
    background-color: rgb(33, 29, 29);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid white;
}

.judul {
    font-size: 20pt;
    padding-top: 20px;
    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    text-shadow: 1px 5px black;
}

#menu {
    width: 1000px;
    height: auto;
    background-color: #524448;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 1em 1em;
}
#footer {
    width: 1000px;
    height: 50px;
    background-color: gray;
    border-radius: 0 0 10px 10px;
}
#main {
    display: flex;
}

#sidebar {
    width: 400px;
    height: auto;
    background-color: #FAF9F6;
    float: left;
}


#content {
    width: 1000px;
    height: auto;
    background-color: #000000;
    float: left;
}


.navigasi {
    display: flex;
    color: white;
    font-family: monospace;
    list-style: none;
    padding: 10px;
    font-size: 15pt;
}

.navigasi li:hover {
    color: black;
    cursor: zoom-in;
}

.navigasi li{
    padding-left: 40px;
}

.navigasi a{
    text-decoration: none;
    color: white;
}


.post {
    text-align: justify;
    min-height: 10px;
    margin: 20px;
    width: 950PX;
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
}


#footer p {
    color: rgb(0, 0, 0);
    font-size: 15pt;
    padding-left: 50px;
    padding-top: 20px;
}

#footer {
    background-color: rgb(191, 130, 79);
    width: 1000px;
    height: 70px;
}

.post a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}



#gif2 {
    position: fixed;
    top: 450px;
}

.galley {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.gallery img{
    width: 48%;
    height: auto;
}

.poster1 {
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}

hr {
    border: 1px solid white;
}

#synopsis {
    width: 960px;
    height: auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

#synopsis img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

.synopsis-text {
    width: 100%;
    color: #ffffff;
}

.cast-section {
    padding: 20px;
    color: #5C4033;
    text-align: center;
}   

.cast-section h2 {
    font-family: 'Lora', serif;
    color: #800020; 
    margin-bottom: 20px;
}

.cast-section p{
    font-family: 'Crimson Text', serif;
    font-size: 1.1em;
    margin-bottom: 30px;
    line-height: 1.5;
}

.actor-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.actor-card {
    border-radius: 8px;
    padding: 20px;
    width: 200px;
}

.actor-card:hover {
    transform: scale(1.05);
    transition: transform 0.7s ease;
    cursor: grab;
}

.actor-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgba(82, 81, 81, 0.3);
}

.actor-card h3 {
    font-family: 'Lora', serif; 
    color: #800020; 
    font-size: 1.3em;
    margin-bottom: 5px;
}

.actor-card h4 {
    font-family: 'Crimson Text', serif;
    color: #5C4033;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.actor-card p {
    font-family: 'Merriweather', serif;
    color: #5C4033;
    font-size: 0.9em;
    line-height: 1.5;
}